*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(110, 152, 189, 0.174);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: wheat;
    padding: 10px 24px;
    border-radius: 20px;
    width: 500px;
}

h1{
    color: rgb(208, 129, 25);
    margin-left: 72x;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.container .box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: #66ffcc;
    outline: none;
    color: black;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}

input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
}

.btn{
    width: 96%;
    height: 40px;
    background: #364547;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
}